.card-news.articles {
  margin: 10px;
}

.card-news.articles h3 {
  padding-top: 20px;
  padding-bottom: 12px;
  position: relative;
  margin-bottom: 12px;
}

.card-news.articles h3::before {
  content: "";
  position: absolute;
  right: 4px;
  text-align: center;
  bottom: 0;
  height: 2px;
  width: 100px;
  background-color: #1d7874;
}

.card-news.articles .card {
  border-radius: 0 0 0;
  border-bottom-right-radius: calc(7px - 1px);
  border-bottom-left-radius: calc(7px - 1px);
  margin-bottom: 10px;
}

.card-news.articles .card .card-body {
  border-radius: 0 0 0;
  border-bottom-right-radius: calc(7px - 1px);
  border-bottom-left-radius: calc(7px - 1px);
}
